@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MessageBoard</h1>
    <p class="lead">MessageBoard is an ASP.NET MVC-5 application that I made for my blue badge project at Eleven Fifty Academy. Prior to creating this project I had no experience with ASP.NET or MVCs. The app is intended to mimic older PHP forums and message boards, which I used to use years ago and still do to some degree.</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register a free account to view &raquo;</a></p>
</div>