@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Maxwell Griffin - Contact Me</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">maxwell.griffin@outlook.com</a>
</address>