body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:lightblue;
}

.emote {
    width: 2em;
    height: 2em;
}

.navbar-inverse{
    background-color:navy;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.newreply textarea {
    width: 100%;
    max-width: 999999px;
    border-style: inset;
}

.newreply input {
    width: 100%;
    max-width: 999999px;
    border-style: inset;
}

.italic {
    font-style: italic;
}

/* styling for posts: */
.post{
    border-style:inset;
}

.post .databar{
    color:white;
    font-weight:700;
    background-color:navy;
}

    .post .datestamp {
        width: 100%;
        display: flex
        /*width:auto;*/
    }

.post .controls{
    text-align:right;
}

    .post .postmain {
        background-color: cornflowerblue;
    }

    .post .creatorinfo {
        text-align: center;
    }

    .creatorinfo img{
        height:50px;
        width:50px;
    }

.post .body{
    background-color:white;
}
/* end styling for posts */

/*Matching Height Columns*/
.row.match-my-cols {
    overflow: hidden;
}

    .row.match-my-cols [class*="col-"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
/*end matching height columns*/

.threadlistitem{
    background-color:white;
}

.linkbar img{
    width:30px;
    height:30px;
}

.table {
    border-top-color: cornflowerblue;
    border-bottom-color:cornflowerblue;
    border-color:cornflowerblue;
}

